server:
  port: 8090
spring:
  profiles:
    group:
      "dev": "h2"
  application:
    name: eu-digital-green-certificates-gateway
  datasource:
    jndi-name: jdbc/dgc
  jpa:
    database-platform: org.hibernate.dialect.MySQL5InnoDBDialect
    hibernate:
      ddl-auto: update
  liquibase:
    enabled: true
    change-log: classpath:db/changelog.xml
  task:
    scheduling:
      pool:
        size: 5
management:
  endpoints:
    web:
      exposure:
        exclude: "*"
  server:
    port: -1
dgc:
  jrc:
    url: https://covid-19-diagnostics.jrc.ec.europa.eu/devices/hsc-common-recognition-rat
    proxy:
      host: ${https.proxyHost:}
      port: ${https.proxyPort:-1}
      username: ${https.proxyUser:}
      password: ${https.proxyPassword:}
  validationRuleSchema: classpath:validation-rule.schema.json
  trustAnchor:
    keyStorePath: /ec/prod/app/san/dgc/dgc-ta.jks
    keyStorePass: dgc-p4ssw0rd
    certificateAlias: dgc_trust_anchor
  cert-auth:
    header-fields:
      thumbprint: X-SSL-Client-SHA256
      distinguished-name: X-SSL-Client-DN
  revocation:
    delete-threshold: 14
  trustedCertificates:
    allowedProperties:
      - purpose
      - usergroup
      - scope
      - standard
      - displayName
      - displayLogo
      - validFrom
      - validUntil
      - pubkey
      - displayURL
    allowedDomains:
      - ICAO
      - DCC
      - SHC
      - CRED
springdoc:
  api-docs:
    enabled: false
